*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: arial;
    overflow-x: hidden;
    background-color: black;
}


#nav{
    width: 100%;
    padding: 30px;
    /* height: 100px; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(1, 1, 1, 0.355);
    color: white;
    border-bottom: 2px solid white;
    position: fixed;
    z-index: 99;
}

#nav h2{
    font-size: 34px;
    transition: 0.5s;
} 

#nav h2:hover{
    scale: 1.2;
}

#nav #nav-items{
    margin-right: 40px;
    display: flex;
    align-items: center;
}

#nav #nav-items div{
    padding-right: 50px;
    cursor: pointer;
    transition: 0.5s;
}

#nav #nav-items div:hover{
    color: gray;
}

#page1{
    width: 100%;
    min-height: 100vh;
    padding: 0 0.7%;
    position: relative;
}

#page1 #scroller{
    width: 100%;
    margin-top: 100px;
    background-color: rgb(193, 255, 127);
    display: flex;
    padding: 1.2vw 0;
}

#marque{
    padding: 0 1.5vw;
    gap: 3vw;
    display: flex;
    align-items: center;
}

#marque h2{
    font-size: 30px;
    color: rgb(67, 65, 65);
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#page1 h1{
    text-transform: uppercase;
    font-size: 34em;
    letter-spacing: -54px;
    color: white;
    position: absolute;
    top: -2%;

}

#page2{
    width: 100%;
    min-height: 100vh;
    display: inline-block;
    justify-content: center;
    background-color: #212121;
    position: relative;
}

#page2 h1{
    padding: 30px;
    color: transparent;
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: 900;
    -webkit-text-stroke: 1.6px white; 
}

#inter-news {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px;
}

#inter-news div{
    height: 45vh;
    width: 33vw;
    background-color: rgb(54, 53, 55);
    position: relative;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
    overflow: hidden;
    color: white;
}

#inter-news h2{
    padding: 25px;
    font-size: 40px;
}

#inter-news .title{
    padding: 0 20px;
    font-weight: 600;
    color: black;
    font-size: 17px;
}

#inter-news .description{
    padding: 20px;
    font-size: 15px;
    line-height: 1.2;
}

#page3{
    width: 100%;
    min-height: 100vh;
    display: inline-block;
    justify-content: center;
    background-color: #212121;
    position: relative;
}

#page3 h1{
    padding: 30px;
    color: transparent;
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: 900;
    -webkit-text-stroke: 1.6px white; 
}

#defence-news {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px;
}

#defence-news div{
    height: 45vh;
    width: 33vw;
    background-color: rgb(54, 53, 55);
    position: relative;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
    overflow: hidden;
    color: white;
}

#defence-news h2{
    padding: 25px;
    font-size: 40px;
}
/*
#defence-news .title{
    padding: 0 20px;
    font-weight: 600;
    color: black;
    font-size: 17px;
}

#defence-news .description{
    padding: 20px;
    font-size: 15px;
    line-height: 1.2;
} */

#page4{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
    color: white;
}
#footer{
    width: 94%;
    height: 70%;
    /* background-color: red; */
    top: 8%;
    position: absolute;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 90px;
    gap: 30px;
    text-align: center;
}

#footer h1{
    font-size: 70px;
    font-weight: 800;
}

#footer #copyright{
    margin-top: 90px;
}

#footer #icon{
    font-size: 20px
}